<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>

  <%= stylesheet_tags %>

  <%= head_insert %>
</head>
<body>

<ul class="lists">
  <% lists.each do |list| %>
    <li class="list">
      <h1 class="list-name"><%= list.name %></h1>

      <ul class="cards">
        <% list.cards.each do |card| %>
          <li class="card">
            <% if card.cover_attachment %>
              <img class="card-cover" src="<%= card.cover_attachment.path %>" width="300px"/>
            <% end %>

            <h2 class="card-name"><%= card.name %></h2>

            <% if card.labels.any? %>
              <ul class="labels">
                <% card.labels.each do |label| %>
                  <li class="label" style="background-color: <%= label.color %>"><%= label.name %></li>
                <% end %>
              </ul>
            <% end %>

            <% if card.desc %>
              <p class="card-desc"><%= card.desc %></p>
            <% end %>

            <% if card.comments.any? %>
              <ul class="comments">
                <% card.comments.each do |comment| %>
                  <li class="comment">
                    <p><span class="authorship"><%= comment.creator_full_name %> commented:</span> <%= comment.text %></p>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
<% end %>
</ul>

</body>
</html>